.debug,
.debug--mini {
  font-size: 1.8rem;
  line-height: 1.9rem;
  background-color: #4f565c;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
  text-overflow: ellipsis;
}

.debug {
  width: 1000px;
  height: 660px;
  margin-left: 3rem;
}

.debug--mini {
  width: 100%;
}
